<div class="sect sect--padding-top">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="site">
          <h1 class="site__title">Remove followers who don't follow you</h1>
          <h2 class="site__subtitle">A simple tool for clena U account</h2>
          <div class="site__box-link">
            <a class="btn btn--revert"
               href="https://api.instagram.com/oauth/authorize?client_id=435499847415948&redirect_uri=https://followers.josephcodes.dev/oauth/&scope=user_profile,user_media&response_type=code">Ok,
              let's to clean</a>
          </div>
          <img class="site__img" src="https://image.ibb.co/c7grYb/image3015.png">
        </div>
      </div>
    </div>
  </div>
</div>
